atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
certifi==2024.7.4
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
dill==0.3.3
-e git+https://github.com/GiliardGodoi/evol.git@eff561c81950a52c600918f883bd274ecf4f0a58#egg=evol
flake8==3.8.4
-e git+https://github.com/GiliardGodoi/ppgi-stpg-gpx.git@8bcd26bc83f3dc6f3267d89d5d2ea2d95a97efc7#egg=ga4stpg
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
mccabe==0.6.1
more-itertools @ file:///tmp/build/80754af9/more-itertools_1598884071673/work
multiprocess==0.70.11
packaging==20.4
pluggy==0.13.1
py @ file:///tmp/build/80754af9/py_1593446248552/work
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.1.2
six==1.15.0
toml==0.10.2
wincertstore==0.2
zipp==3.4.0
